/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
/* line 5, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*

  border-radius: 10px; //curve

*/
/* line 20, ../sass/screen.scss */
html {
  background: white;
  font-family: 'PT Sans', sans-serif;
}

/* line 25, ../sass/screen.scss */
body {
  background: #ffffff url("../img/header_bg.fw.png") repeat-x;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

/* line 32, ../sass/screen.scss */
header #header_bg {
  background: white;
  display: block;
  padding: 1px 30px 10px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
}

/*
nav {
  border: 3px solid green;
  width: 70%;
  padding: 16px 16px 20px 16px;
  margin: 30px auto;
  ul {
    text-align: center;
    li {
      display: inline-block;
      list-style: none;
      a {
        color: green;
        padding: 16px 50px 16px 50px;
        text-decoration: none;
        &:visited{
          color: green;
        }
        &:hover {
          text-decoration: underline;
          color: green;
        }
        &:active {
          color: green;
        }
      }
    }
  }
}*/
/*

h1{
  font-weight: bold;
  font-size: 45px;
}

p{
  padding-top: 20px;
  font-size: 18px;
}
form{
  margin-top: 80px;
  background: dimgray;
  padding: 60px 0px 16px 0px;
  width: 60%;
  height: 500px;
  font-size: 27px;

}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

*/
/*

nav {
  #nav2 {
    ul {
      li {
        #li2 {
          text-align: center;
          border: 3px solid green;
          width: 70%;
          padding: 16px 16px 20px 16px;
          margin: 30px auto;
          list-style: none;
          color: white;
          a {
            &:visited {
              color: white;
            }
            &:hover {
              text-decoration: underline;
              color: white;
            }
            &:active {
              color: white;
            }
          }
        }
      }
    }
  }
}
*/
/* line 160, ../sass/screen.scss */
footer {
  background-color: #006B41;
  margin-top: 50px;
  height: 230px;
}

/* line 166, ../sass/screen.scss */
nav#nav2 {
  display: inline-block;
  font-size: 35px;
  text-align: left;
  color: white;
  padding: 30px 5% 0px 5%;
}
/* line 172, ../sass/screen.scss */
nav#nav2 ul {
  padding-top: 20px;
}
/* line 174, ../sass/screen.scss */
nav#nav2 ul li {
  font-family: "arial";
  text-align: left;
  font-size: 25px;
  list-style: none;
  color: white;
}
/* line 180, ../sass/screen.scss */
nav#nav2 ul li a {
  color: green;
  text-decoration: none;
}
/* line 183, ../sass/screen.scss */
nav#nav2 ul li a:visited {
  color: white;
}
/* line 186, ../sass/screen.scss */
nav#nav2 ul li a:hover {
  text-decoration: underline;
  color: white;
}
/* line 190, ../sass/screen.scss */
nav#nav2 ul li a:active {
  color: white;
}
